<!DOCTYPE html>
<html>
<head>
  <title>Editar Médico</title>
</head>
<body>
  <h1>Editar Médico</h1>
  <form action="/medicos/<%= medico.id %>" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" value="<%= medico.nome %>" required>
    <label for="cpf">CPF:</label>
    <input type="text" name="cpf" value="<%= medico.cpf %>" required>
    <label for="rg">RG:</label>
    <input type="text" name="rg" value="<%= medico.rg %>" required>
    <label for="numero_classe">Número da Classe:</label>
    <input type="text" name="numero_classe" value="<%= medico.numero_classe %>" required>
    <label for="profissao">Profissão:</label>
    <input type="text" name="profissao" value="<%= medico.profissao %>" required>
    <label for="especialidadeId">Especialidade:</label>
    <select name="especialidadeId" required>
      <% especialidades.forEach(especialidade => { %>
        <option value="<%= especialidade.id %>" <%= medico.especialidadeId === especialidade.id ? 'selected' : '' %>><%= especialidade.nome %></option>
      <% }) %>
    </select>
    <button type="submit">Salvar</button>
  </form>
</body>
</html>
