<!DOCTYPE html>
<html>
<head>
  <title>Detalhes do Médico</title>
</head>
<body>
  <h1>Detalhes do Médico</h1>
  <p><strong>Nome:</strong> <%= medico.nome %></p>
  <p><strong>CPF:</strong> <%= medico.cpf %></p>
  <p><strong>RG:</strong> <%= medico.rg %></p>
  <p><strong>Número da Classe:</strong> <%= medico.numero_classe %></p>
  <p><strong>Especialidade:</strong> <%= medico.Especialidade ? medico.Especialidade.nome : 'Nenhuma especialidade' %></p>

  <a href="/medicos">Voltar</a>
</body>
</html>
