<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalhes do Médico</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="titulo-principal">Detalhes do Médico</h1>
  <div class="container">
    <p><strong>Nome:</strong> <%= medico.nome %></p>
    <p><strong>CPF:</strong> <%= medico.cpf %></p>
    <p><strong>RG:</strong> <%= medico.rg %></p>
    <p><strong>Número da Classe:</strong> <%= medico.numero_classe %></p>
    <p><strong>Especialidade:</strong> <%= medico.Especialidade ? medico.Especialidade.nome : 'Nenhuma especialidade' %></p>
    <a class="botao-acao" href="/medicos">Voltar</a>
  </div>

</body>
</html>
