<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamentos</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1 class="titulo-principal">Agendamentos</h1>
  <a href="/" class="novo-paciente"><</a>
  <a href="/agendamentos/new" class="novo-paciente">Novo Agendamento</a>
  <div class="container-pacientes">
    <% agendamentos.forEach(agendamento => { %>
      <div class="paciente">
        <a class="paciente-nome" href="/agendamentos/<%= agendamento.id %>">Paciente: <%= agendamento.Paciente.nome %> / Médico: <%= agendamento.Medico.nome %></a>
        <a class="botao-acao" href="/agendamentos/<%= agendamento.id %>/edit">Editar</a>
        <a class="botao-acao" href="/agendamentos/<%= agendamento.id %>/">Visualizar</a>
        <form action="/agendamentos/<%= agendamento.id %>/delete" method="post" style="display:indivne;">
          <button class="botao-deletar" type="submit">Deletar</button>
        </form>
      </div>
    <% }); %>
  </div>
</body>
</html>
